page-list {

}

.tick{
  color:green;
  width:100%;
  text-align:center;
  font-size: 90px;
}

.cross{
  color:red;
  width:100%;
  text-align:center;
  font-size: 90px;
}

.resultText{
  text-align: center;
}
