<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Fodmap</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-item>
        <ion-label fixed>Food</ion-label>
        <ion-input type="text" value="" [(ngModel)]="foodValue" (ngModelChange)="resetCheck()" placeholder="Enter a food to check" ></ion-input>
      </ion-item>
    </ion-row>
    <button ion-button full (click)="checkBadFodmap(foodValue)">Check</button>

    <ion-row *ngIf="showResult">
      <ion-col col-12>
        <div *ngIf="checkedResult; else elseBlock">
        <ion-icon  name="checkmark-circle" class="tick"></ion-icon>
        <div class="resultText">
          <span>Looks like this is OK</span>
      </div>
    </div>
      </ion-col >
      <ion-col col-12>
        <ng-template #elseBlock>
          <ion-icon name="close-circle" class="cross" ng-></ion-icon>
          <div class="resultText">
          <span>Looks like this isn't fodmap friendly</span>
        </div>
        </ng-template>

      </ion-col>

    </ion-row>
  </ion-grid>

</ion-content>
